// @use "./reset";

$left_boxes_width: 430px;
$right_boxes_width:270px;
$upper_boxes_height: 395px;
$bottom_boxes_height: 195px;


body {
  color:#ccc;
  background-color: #333;
}

div {
  margin: 0rem;
  padding: 0rem;
}

.scene {
  background-color: #222;
  margin: 0;
  width: 800px;
  height: 600px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;// または center
  align-items: center;
  align-content: center;
}

.panels_container {
  display: flex;
  flex-direction: row;
  border: #fff 1px solid;
}

.panel {
  border: 1px #fff solid;
  margin: 0.4rem;
  padding: 0.4rem;
  background-color: #111;
  color: #ccc;
}

.image_panel {
  width:  $left_boxes_width;
  height: $upper_boxes_height;
}

.message_panel {
  width:  $left_boxes_width;
  height: $bottom_boxes_height;
}

.info_panel {
  width:  $right_boxes_width;
  height: $upper_boxes_height;
}

.command_panel {
  width:  $right_boxes_width;
  height: $bottom_boxes_height;
}